@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Annex - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/images/favicon.ico">

    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">

        <div class="card">
            <div class="card-body">

                <h3 class="text-center mt-0 m-b-15">
                    <a href="index.html" class="logo logo-admin"><img src="~/images/logo.png" height="24" alt="logo"></a>
                </h3>

                <div class="p-3">
                    <form class="form-horizontal" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                        <div class="form-group row">
                            <div class="col-12">
                                <input asp-for="Input.Email" class="form-control" type="email" required="" placeholder="Email">
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input asp-for="Input.Email" class="form-control" type="text" required="" placeholder="Username">
                            </div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input asp-for="Input.Password" class="form-control" type="password" required="" placeholder="Password">
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input asp-for="Input.ConfirmPassword" class="form-control" type="password" required="" placeholder="Confirm Password">
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label font-weight-normal" for="customCheck1">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center row m-t-20">
                            <div class="col-12">
                                <button class="btn btn-danger btn-block waves-effect waves-light" type="submit">Register</button>
                            </div>
                        </div>

                        <div class="form-group m-t-10 mb-0 row">
                            <div class="col-12 m-t-20 text-center">
                                <a href="pages-login.html" class="text-muted">Already have account?</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- jQuery  -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.min.js"></script>
    <script src="~/js/detect.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="~/js/app.js"></script>
</body>
</html>